.forms {
  margin: 10px;
}

.authorForm {
  border-radius: 3px;
  border: 2px solid blue;
  height: 25px;
  width: 200px;
  margin-right: 10px;
  padding-left: 5px;
}

.textForm {
  border-radius: 3px;
  border: 2px solid blue;
  height: 25px;
  width: 500px;
  margin-right: 10px;
  padding-left: 5px;
}

.sendBtn {
  border-radius: 3px;
  border: 2px solid blue;
  background: white;
  height: 31px;
  width: 150px;
  cursor: pointer;
  transition: 100ms;
}

.sendBtn:hover {
  transform: scale(1.1);
}

.sendBtn:active {
  transform: scale(0.9);
}